@model Kino.Models.Predstava

@{
    ViewData["Title"] = "Details";
}

<h2>Informacije o predstavi</h2>

<div>
    <h4>Predstava</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Nazaj na seznam</a>
</div>
