@model Kino.Models.Predstava

@{
    ViewData["Title"] = "Edit";
}
<br />
<h2>Uredi</h2>
<br />
<br />
<h4>Predstava</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdFilm" />
            <input type="hidden" asp-for="IdDvorane" />
            <input type="hidden" asp-for="CasZacetka" />
            <input type="hidden" asp-for="CasKonca" />
            <input type="hidden" asp-for="Datum" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazaj na seznam</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
