@model Kino.Models.Film

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdZalozba" class="control-label"></label>
                <input asp-for="IdZalozba" class="form-control" />
                <span asp-validation-for="IdZalozba" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOmejitve" class="control-label"></label>
                <input asp-for="IdOmejitve" class="form-control" />
                <span asp-validation-for="IdOmejitve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOsebjeFilma" class="control-label"></label>
                <input asp-for="IdOsebjeFilma" class="form-control" />
                <span asp-validation-for="IdOsebjeFilma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naslov" class="control-label"></label>
                <input asp-for="Naslov" class="form-control" />
                <span asp-validation-for="Naslov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leto" class="control-label"></label>
                <input asp-for="Leto" class="form-control" />
                <span asp-validation-for="Leto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CasTrajanja" class="control-label"></label>
                <input asp-for="CasTrajanja" class="form-control" />
                <span asp-validation-for="CasTrajanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
