@model Kino.Models.Predstava

@{
    ViewData["Title"] = "Delete";
}

<h2>Izbrisi</h2>

<h3>Ste prepricani da zelite to izbrisati?</h3>
<div>
    <h4>Predstava</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdFilm" />
        <input type="hidden" asp-for="IdDvorane" />
        <input type="hidden" asp-for="CasZacetka" />
        <input type="hidden" asp-for="CasKonca" />
        <input type="hidden" asp-for="Datum" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Nazaj na seznam</a>
    </form>
</div>
