@model Kino.Models.ProdukcijskaZalozba

@{
    ViewData["Title"] = "Details";
}

<h2>Informacije o zalozbi</h2>

<div>
    <h4>Produkcijska Zalozba</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdZalozba">Uredi</a> |
    <a asp-action="Index">Nazaj na seznam</a>
</div>
