@model Kino.Models.Kolosej

@{
    ViewData["Title"] = "Delete";
}

<h2>Izbrisi</h2>

<h3>Ste prepricani da zelite to izbrisati?</h3>
<div>
    <h4>Kolosej</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdNaslov)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdNaslov)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdKolosej" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Nazaj na seznam</a>
    </form>
</div>
